{% extends '_layouts/inapp.html.twig' %}

{% block title %}Portefeuille {{ wallet.label }}{% endblock %}

{% block content %}
    <h1>{{ wallet.label }}</h1>

    <h3>Montant total: {{ wallet.totalAmount / 100 }}</h3>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Qui</th>
            <th scope="col">Libellé</th>
            <th scope="col">Montant</th>
        </tr>
        </thead>
        <tbody>
        {% for expense in expenses %}
            <tr>
                <td>{{ expense.createdDate | date('d/m/Y') }}</td>
                <td>{{ expense.createdBy.name }}</td>
                <td>{{ expense.description }}</td>
                <td>{{ expense.amount / 100 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        {% for i in 1..maxPaginationPage %}
            <a
                class="btn btn-primary mr-2 {% if page === i %}outline{% endif %}"
                href="{{ path("wallets_show", {"uid": wallet.uid}) }}?page={{ i }}&limit={{ limit }}">

                {{ i }}

            </a>
        {% endfor %}
    </div>
{% endblock %}
